.menuBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuFilters {
  display: flex;
  padding: 4px 16px;
}

.menuFilters * {
  margin-right: 4px;
}

.menuSort {
  margin-right: 16px;
}
